@import './base.css';

body {
  margin: 0px auto;
}

#app {
  /* max-width: 1280px; */
  margin: 0px auto;
  /* padding: 1rem; */
  width: 100%;
  font-weight: normal;
  /* box-sizing : border-box; */
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 4, 255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 26%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
